.app {
  text-align: center;
  margin-top: 50px;
}
body {
  background-color: rgb(85,125,205)
}
form, form input, ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
}