body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  margin-top: 10px;
}


.todo-item {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 3px;
}